[2019-08-08 06:28] greenkeeper[bot] opened #22 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.7.0` to `12.7.1`.

🚨 [View failing branch](https://github.com/DXHeroes/dx-scanner/compare/master...DXHeroes:greenkeeper%2F%40types%2Fnode-12.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devD

[2019-08-16 11:56] #22 closed

[2019-09-23 14:51] renovate[bot] opened #56 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2019-10-01 17:57] prokopsimek opened #58 "Create a language detector for Python (~100 new lines of code)"
We'd like to measure the quality of apps written in Python.

There are "language detectors" to determine what language is on which path.

It's necessary to implement **PythonLanguageDetector** the same way as is [JavaScriptLanguageDetector](https://github.com/DXHeroes/dx-scanner/blob/master/src/detectors/JavaScript/JavaScriptLanguageDetector.ts) implemented. It's around 100 new lines of code inclu

[2019-10-01 17:58] prokopsimek opened #59 "Create a language detector for Ruby (~100 new lines of code)"
We'd like to measure the quality of apps written in Ruby.

There are "language detectors" to determine what language is on which path.

It's necessary to implement **RubyLanguageDetector** the same way as is [JavaScriptLanguageDetector](https://github.com/DXHeroes/dx-scanner/blob/master/src/detectors/JavaScript/JavaScriptLanguageDetector.ts) implemented. It's around 100 new lines of code including

[2019-10-01 17:58] radektheloner commented on #58
:heart_eyes:

[2019-10-01 18:00] prokopsimek opened #60 "Create a language detector for C# (~100 new lines of code)"
We'd like to measure the quality of apps written in C#.

There are "language detectors" to determine what language is on which path.

It's necessary to implement **CSharpLanguageDetector** the same way as is [JavaScriptLanguageDetector](https://github.com/DXHeroes/dx-scanner/blob/master/src/detectors/JavaScript/JavaScriptLanguageDetector.ts) implemented. It's around 100 new lines of code including

[2019-10-01 18:01] prokopsimek opened #61 "Create a language detector for C++ (~100 new lines of code)"
We'd like to measure the quality of apps written in C++.

There are "language detectors" to determine what language is on which path.

It's necessary to implement **CppLanguageDetector** the same way as is [JavaScriptLanguageDetector](https://github.com/DXHeroes/dx-scanner/blob/master/src/detectors/JavaScript/JavaScriptLanguageDetector.ts) implemented. It's around 100 new lines of code including t

[2019-10-01 18:07] prokopsimek opened #62 "Increase test coverage to more than 90%"
We'd like to measure the quality of apps written in many languages. To have high-quality software is necessary to have the code covered by tests.

We didn't have so much time to write enough tests covering enough of code lines. We'd like to increase our code coverage to **more** than 90%.

Read [our Contribution guide](https://github.com/DXHeroes/dx-scanner/blob/master/CONTRIBUTING.md).

[2019-10-01 18:40] prokopsimek opened #63 "Create a language detector for PHP (~100 new lines of code)"
We'd like to measure the quality of apps written in PHP.

There are "language detectors" to determine what language is on which path.

It's necessary to implement **PHPLanguageDetector** the same way as is [JavaScriptLanguageDetector](https://github.com/DXHeroes/dx-scanner/blob/master/src/detectors/JavaScript/JavaScriptLanguageDetector.ts) implemented. It's around 100 new lines of code including t

[2019-10-01 18:50] prokopsimek opened #64 "Create a component detector for C++ (~60 new lines of code)"
We'd like to measure the quality of apps written in C++.

There are "component detectors" to determine frameworks, platform, and type of an application.

It's necessary to implement **CppComponentDetector** the similar way as is [JavaComponentDetector](https://github.com/DXHeroes/dx-scanner/pull/50/files#diff-713f3c9ac097761276975cddf91b94b1) implemented. Because C++ is not a front-end language, s

[2019-10-01 18:51] prokopsimek opened #65 "Create a component detector for C# (~60 new lines of code)"
We'd like to measure the quality of apps written in C#.

There are "component detectors" to determine frameworks, platform, and type of an application.

It's necessary to implement **CSharpComponentDetector** the similar way as is [JavaComponentDetector](https://github.com/DXHeroes/dx-scanner/pull/50/files#diff-713f3c9ac097761276975cddf91b94b1) implemented. Because C# is not a front-end language,

[2019-10-01 18:53] prokopsimek opened #66 "Create a component detector for Python (~60 new lines of code)"
We'd like to measure the quality of apps written in Python.

There are "component detectors" to determine frameworks, platform, and type of an application.

It's necessary to implement **PythonComponentDetector** the similar way as is [JavaComponentDetector](https://github.com/DXHeroes/dx-scanner/pull/50/files#diff-713f3c9ac097761276975cddf91b94b1) implemented. Because Python is not a front-end la

[2019-10-01 18:54] prokopsimek opened #67 "Create a component detector for PHP (~60 new lines of code)"
We'd like to measure the quality of apps written in PHP.

There are "component detectors" to determine frameworks, platform, and type of an application.

It's necessary to implement **PHPComponentDetector** the similar way as is [JavaComponentDetector](https://github.com/DXHeroes/dx-scanner/pull/50/files#diff-713f3c9ac097761276975cddf91b94b1) implemented.

More info in [our Contribution guide](htt

[2019-10-01 18:54] prokopsimek opened #68 "Create a component detector for Ruby (~60 new lines of code)"
We'd like to measure the quality of apps written in Ruby.

There are "component detectors" to determine frameworks, platform, and type of an application.

It's necessary to implement **RubyComponentDetector** the similar way as is [JavaComponentDetector](https://github.com/DXHeroes/dx-scanner/pull/50/files#diff-713f3c9ac097761276975cddf91b94b1) implemented.
It's around 60 new lines of code includi

[2019-10-01 19:05] prokopsimek opened #69 "Create generator to install DX Scanner to the user's app."
As a developer, I would like to install DX Scanner in my repository as fast as possible.

The CLI has a new argument (e.g. `--init`) which creates my [configuration file](https://github.com/DXHeroes/dx-scanner#configuration-%EF%B8%8F) for DX Scanner in current folder.

**Expected scenario:**
1. Opens the dx-scanner repository on Github
2. Reads the readme and wants to try
3. Installs DX Scanner wi

[2019-10-01 19:07] lielfr commented on #69
I'd like to work on that

[2019-10-01 19:08] prokopsimek opened #70 "Add warnings about new version of DX Scanner"
_As a user of DX Scanner, I'd like to be notified when a new version of DX Scanner is released to have an option to update to newest features._

The DX Scanner is a CLI tool so there is enough, for now, to have a notification when the Scanner is starting.

Is it possible to use e.g. https://www.npmjs.com/package/update-notifier? It's up to you! :)

[2019-10-01 19:09] prokopsimek commented on #69
@lielfr It's yours :) Thanks!

[2019-10-01 19:19] prokopsimek opened #71 "Add auto-update feature"
_As a user of DX Scanner, I'd like to have always the newest version of DX Scanner to have always newest features and not to increase my expansive time on the update._

The DX Scanner is a CLI tool and we'd like to offer the newest version of DX Scanner without his/her involvement always the DX Scanner is started.

[2019-10-01 19:32] prokopsimek opened #73 "Add CLI option to initialize DX Scanner in the user's folder"
_As a developer, I would like to install DX Scanner in my repository as fast as possible._

The CLI will have a new argument (e.g. `--init`) which will create a [configuration file](https://github.com/DXHeroes/dx-scanner#configuration-%EF%B8%8F) for DX Scanner in the current folder.

**Expected scenario:**
1. Opens the dx-scanner repository on Github
2. Reads the readme and wants to try
3. Install

[2019-10-01 19:43] prokopsimek commented on #69
PR #72

[2019-10-02 06:10] prokopsimek opened #75 "Add HTMLReporter to open DX report in browser"
_As a user, I want to show DX report to my CTO or colleague in the HTML format let he/she understands it and has an overview of the project._

There are two reporters - [CLIReporter](https://github.com/DXHeroes/dx-scanner/blob/master/src/reporters/CLIReporter.ts) and [JSONReporter](https://github.com/DXHeroes/dx-scanner/blob/master/src/reporters/JSONReporter.ts). We need to create 3rd HTMLReporter

[2019-10-02 06:37] prokopsimek opened #76 "Log CLI runs to file to be able collect logs from users"
_As a user who figured out an error in DX Scanner, I would like to have a log file where I can copy&paste the log result to a new issue on Github in DX Scanner repository._

**Definition of done:**
- all runs of DX Scanner are logged to a file in the root (or /tmp) folder
- the log contains all errors, debugs and basic project configuration
- the log has hidden secrets

Read [our Contribution guid

[2019-10-02 07:19] prokopsimek commented on #69
Merged #72

[2019-10-02 07:19] #69 closed

[2019-10-02 09:36] jnv commented on #71
IMO autoupdating is pretty disruptive, delays initial start and can cause troubles for the user. For example I want to stay on the older version of the package so I can compare results of scans across the longer period of time, or newer version causes troubles for me or breaks compatibility with my old version of Node etc.

The best practice I saw is to notify user about new version availability b

[2019-10-02 09:37] jnv commented on #71
Ah, I see there's #70, sorry.

[2019-10-02 10:02] prokopsimek commented on #71
@jnv Hi, thanks for your valuable input. You're absolutely true but it would be fine at least to offer the update to the user. What do you think just to offer the update like programmatically instead of just a update warning?

[2019-10-02 10:30] jnv commented on #71
I am not sure what do you mean by that. Do you mean e.g. to prompt user for update or add some flag to allow automatic update, or provide an API?

[2019-10-02 10:45] prokopsimek commented on #71
I mean a prompt. Check if the new version exists and if yes, let's prompt the user with `Do you want update right now? (y/n)`

[2019-10-02 11:04] jnv commented on #71
Yes, adding a prompt seems definitely like a more sensitive option, though I would still be wary of this rather non-standard behavior. I think there's a risk of introducing more complexity, e.g. then you will need an option to suppress the prompt.

Where this behavior makes the most sense to me is if you decide to distribute the package with bundled Node (e.g. as a tarball or OS-specific installer

[2019-10-02 11:12] prokopsimek commented on #71
@jnv Thanks a lot! I'll be thinking about it. It makes sense.

[2019-10-02 14:13] jnv opened #78 "Concerns about CC-BY-NC-SA-4.0 license"
I have noticed this project uses Creative Commons Attribution Non-Commercial Share-Alike license, which raises some concerns about using this project in commercial settings.

CC-NC licenses are not considered Free or Open-Source and are [not even recommended](https://creativecommons.org/faq/#can-i-apply-a-creative-commons-license-to-software) for software by Creative Commons. For example I cannot

[2019-10-02 16:15] #70 closed

[2019-10-02 16:30] prokopsimek commented on #70
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-02 18:27] prokopsimek commented on #78
@jnv Thanks for your explanation. I'll discuss it with my colleagues and I believe we change the license.

[2019-10-02 19:06] v-hal commented on #60
I opened a PR (#79) for this. Let me know if that's adequate.

[2019-10-02 20:18] prokopsimek commented on #60
@v-hal Thanks for your contribution! 💙

[2019-10-02 20:18] #60 closed

[2019-10-04 15:23] prokopsimek opened #80 "Create a component detector for GO lang (~60 new lines of code)"
We'd like to measure the quality of apps written in Go lang.

There are "component detectors" to determine frameworks, platform, and type of an application.

It's necessary to implement **GoComponentDetector** the similar way as is [JavaComponentDetector](https://github.com/DXHeroes/dx-scanner/pull/50/files#diff-713f3c9ac097761276975cddf91b94b1) implemented.
It's around 60 new lines of code includ

[2019-10-04 15:23] prokopsimek opened #81 "Create a component detector for .NET (~60 new lines of code)"
We'd like to measure the quality of apps written in .NET.

There are "component detectors" to determine frameworks, platform, and type of an application.

It's necessary to implement **DotNetComponentDetector** the similar way as is [JavaComponentDetector](https://github.com/DXHeroes/dx-scanner/pull/50/files#diff-713f3c9ac097761276975cddf91b94b1) implemented.
It's around 60 new lines of code inclu

[2019-10-04 15:24] prokopsimek opened #82 "Create a language detector for GO lang (~100 new lines of code)"
We'd like to measure the quality of apps written in GO lang.

There are "language detectors" to determine what language is on which path.

It's necessary to implement **GoLanguageDetector** the same way as is [JavaScriptLanguageDetector](https://github.com/DXHeroes/dx-scanner/blob/master/src/detectors/JavaScript/JavaScriptLanguageDetector.ts) implemented. It's around 100 new lines of code includin

[2019-10-04 15:24] prokopsimek opened #83 "Create a language detector for .NET lang (~100 new lines of code)"
We'd like to measure the quality of apps written in .NET.

There are "language detectors" to determine what language is on which path.

It's necessary to implement **DotNetLanguageDetector** the same way as is [JavaScriptLanguageDetector](https://github.com/DXHeroes/dx-scanner/blob/master/src/detectors/JavaScript/JavaScriptLanguageDetector.ts) implemented. It's around 100 new lines of code includi

[2019-10-05 09:14] skneko commented on #83
I'm picking this up, but I think you perhaps want to split ".NET language" into 3 subcategories: C#, F# and Visual Basic.

[2019-10-05 09:59] prokopsimek commented on #83
@skneko Huh, my bad. I have never worked in those languages and I don't know .NET fw. There already exists #60 to detect C# language but there is #65 to detect component correctly.

I wouldn't create F# or Visual Basic for now.

[2019-10-05 09:59] #83 closed

[2019-10-05 10:00] prokopsimek commented on #81
Closing (https://github.com/DXHeroes/dx-scanner/issues/83#issuecomment-538635822)

[2019-10-05 10:00] prokopsimek commented on #81
Closing (https://github.com/DXHeroes/dx-scanner/issues/83#issuecomment-538635822)

[2019-10-05 10:00] #81 closed

[2019-10-06 21:27] johnny243 commented on #58
Working on this issue :100:

[2019-10-07 14:13] prokopsimek commented on #58
PR merged

[2019-10-07 14:13] #58 closed

[2019-10-17 11:46] #82 closed

[2019-10-17 11:59] prokopsimek commented on #82
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-21 08:57] #61 closed

[2019-10-21 08:57] #63 closed

[2019-10-21 08:58] prokopsimek commented on #61
@Sehsyha Thanks! 💙

[2019-10-21 08:58] prokopsimek commented on #63
@Sehsyha Thanks! 💙

[2019-10-21 09:10] prokopsimek commented on #63
:tada: This issue has been resolved in version 1.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v1.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-21 09:10] prokopsimek commented on #61
:tada: This issue has been resolved in version 1.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v1.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-21 13:09] #59 closed

[2019-10-21 13:22] prokopsimek commented on #59
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v1.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-23 08:16] prokopsimek opened #95 "Make a suggestion texts & report wording consistent"
The report wording is inconsistent. The texts like`Set`, `Using`, `Writing` should be unified and it should challenge the user to an action.

![image](https://user-images.githubusercontent.com/5487217/67372317-ffa17800-f57d-11e9-8627-597320285f24.png)

[code]

[2019-10-23 08:22] prokopsimek opened #96 "Invalid detection of lock files in a .gitignore practice"
There should be fixed the condition in https://github.com/DXHeroes/dx-scanner/blob/019ee6aaf1a9925ff3768a482fc7f8bbbc570082/src/practices/JavaScript/JsGitignoreCorrectlySetPractice.ts#L49. It should work on most of the repositories but at least on https://github.com/github/gitignore/blob/master/Node.gitignore and it should work on DX Scanner.

[2019-10-23 11:57] prokopsimek commented on #78
@jnv We've changed the license to MIT. Thanks for your issue. :)

[2019-10-23 11:57] #78 closed

[2019-10-24 10:18] prokopsimek opened #101 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 unhandledRejection listeners added to [process]. Use emitter.setMaxListeners() to increase limit"
I run the DX Scanner with a cmd yarn start https://github.com/yarnpkg/yarn and the app throws a warning
`MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 unhandledRejection listeners added to [process]. Use emitter.setMaxListeners() to increase limit`

It's caused by `npm-check-updates` library that adds event listeners in every call of `run` function.

Related to my iss

[2019-10-29 08:28] adelkahomolova opened #103 "Fix failure when there are other components than JavaScript"
The scanning of the repository fails when there are other components than JavaScript.

![Screen Shot 2019-10-29 at 09 21 09](https://user-images.githubusercontent.com/53510747/67749463-81395000-fa2d-11e9-8a6c-150eec4a0502.png)

Use this repo to replicate error: https://github.com/sigalor/whatsapp-web-reveng.

There are two ways to fix this:
1) Just log the message about error and let the scanner w

[2019-10-29 09:32] PodlesnyJakub opened #104 "Application won't start after clean install"
Following the docs:

1. I installed dx-scanner globaly with yarn.
2. I tried to run `dxscanner` even with `dxs` and `dx-scanner`
3. Everytime I recieved an error in bellow screenshot

![image](https://user-images.githubusercontent.com/38418381/67754836-666bd900-fa37-11e9-9caa-bfd50f920ddf.png)

[2019-10-29 11:21] prokopsimek commented on #104
Related to https://github.com/streamich/memfs/issues/447 and https://github.com/streamich/memfs/issues/426.

Will lock the `memfs@2.15.5`.

[2019-10-29 19:39] prokopsimek commented on #104
Should be fixed by https://github.com/DXHeroes/dx-scanner/pull/105 in new version `1.13.2` https://github.com/DXHeroes/dx-scanner/releases/tag/v1.13.2

All versions are now pinned and the new version `2.16.0` of `memfs` shouldn't be installed.

Could you retry it, please?

[2019-10-29 19:41] prokopsimek commented on #101
Fixed by https://github.com/tjunnone/npm-check-updates/pull/601 (Issue: https://github.com/tjunnone/npm-check-updates/issues/597) in a new version `1.13.2` (https://github.com/DXHeroes/dx-scanner/releases/tag/v1.13.2)

[2019-10-29 19:41] #101 closed

[2019-10-29 21:22] adelkahomolova opened #111 "Detect that DX Scanner is running in CI"
Detect, that DX was started in CI.

[2019-11-07 10:39] prokopsimek opened #147 "Add oclif CLI autoupdater command"
Use https://oclif.io/docs/releasing.html#autoupdater to set `dx-scanner update` command to self-update.

[2019-11-12 13:21] adelkahomolova opened #152 "DX Scanner is counting off practices to the score"
![Screen Shot 2019-11-12 at 14 14 07](https://user-images.githubusercontent.com/53510747/68675196-af537f80-0557-11ea-920e-9d98c4b70f7e.png)

[2019-11-16 12:42] jansedlon opened #153 "Unexpected object: bitbucket.org"
Tried to run dx-scanner on repository locally that is hosted on bitbucket and it's a private repo.

[2019-11-16 12:43] HonzsSedlomn commented on #153
![image](https://user-images.githubusercontent.com/13948180/68993328-0b2f4880-0877-11ea-8d9a-609265dae5dc.png)

[2019-11-16 13:38] prokopsimek commented on #153
I have partially fixed the issue in version `1.17.9` (https://github.com/DXHeroes/dx-scanner/releases/tag/v1.17.9). It should be released after the pipeline (https://travis-ci.org/DXHeroes/dx-scanner/builds/612793921) finishes.

You can run the dx scanner with the URL in the form of:
[code]
and it will require the authorization token twice.

---

It needs more work to be fixed totally.
- [ ] It's

[2019-11-16 15:31] jansedlon opened #155 "Cannot run dx-scanner from Windows"
I've tried to run dx-scanner both from Windows Command Line and Windows Terminal (Preview).

Windows Command Line throws "The system cannot find the path specified".

Windows Terminal (Preview) throws: "The term /bin/sh.exe is not recognized as the name of cmdlet"
![image](https://user-images.githubusercontent.com/13948180/68995460-80f2de80-088e-11ea-9926-62600f9a6c42.png)

![image](https://user-i

[2019-11-16 16:02] prokopsimek commented on #155
@HonzsSedlomn Thanks for reporting the issue! 🙂We'll fix it soon as possible.

[2019-11-18 06:48] prokopsimek commented on #104
@PodlesnyJakub 🙏

[2019-11-18 06:48] prokopsimek commented on #71
Duplicity to #147

[2019-11-18 06:48] #71 closed

[2019-11-18 07:16] prokopsimek opened #159 "DX Scanner is not added to PATH after global installation on Windows"

[2019-11-18 09:12] prokopsimek opened #160 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-11-18 09:46] #160 closed

[2019-11-18 09:48] prokopsimek commented on #155
@jansedlon Hi! PR #158 with a fix has been merged but there is another issue with installation on Windows #159

Could you retry the new version on Windows?

[2019-11-18 15:33] prokopsimek commented on #159
It seems to be fixed in #158 v1.17.10 (https://github.com/DXHeroes/dx-scanner/releases/tag/v1.17.10)

[2019-11-18 15:34] #159 closed

[2019-11-18 15:35] prokopsimek commented on #155
@jansedlon It seems to be fixed in #158 v1.17.10 (https://github.com/DXHeroes/dx-scanner/releases/tag/v1.17.10).

[2019-11-18 15:37] prokopsimek commented on #152
#161

[2019-11-25 14:35] prokopsimek opened #168 "Updated Dependencies for Java"
As a user having an app written in Java I want to scan my source code and have a warning in a report about updating dependencies.

<p></p>

Impact: Major versions should be Medium; Minor and Patch versions should have High impact.

[2019-11-25 14:35] prokopsimek commented on #168
Link to feature: https://dxheroes.productboard.com/feature-board/planning/features/3371971

[2019-11-30 12:59] prokopsimek commented on #168
related to #167

[2019-12-02 09:50] prokopsimek opened #175 "Scanner is listed in GitHub Marketplace"
As a user I want to have an easy installation of DX Scanner on Github from its marketplace.

**TODO:**

- [x] report as a comment on a pull request (editing next time) @prokopsimek

- [ ] (optional) report DX Score from repositories to remote db @prokopsimek

- [ ] (optional) error logs @prokopsimek

- [x] fill mktplc details @adelkahomolova

- [x] prepare mktplc description @adelkahomolova

- [x]

[2019-12-02 09:50] prokopsimek commented on #175
Link to feature: https://dxheroes.productboard.com/feature-board/planning/features/3310038

[2019-12-04 13:41] #152 closed

[2019-12-04 13:54] prokopsimek opened #179 "Scan for JavaScript dependencies with known security vulnerabilities"

[2019-12-04 13:54] prokopsimek commented on #179
Link to feature: https://dxheroes.productboard.com/feature-board/planning/features/2736434

[2019-12-04 13:54] prokopsimek commented on #179
@adelkahomolova Please, add a detailed description for @vlasy.

[2019-12-04 15:29] adelkahomolova commented on #179
Add new practice for checking if any security vulnerabilities are present. Check contribution guide to better orienting in the code, especially the practices. (https://github.com/DXHeroes/dx-scanner/blob/master/CONTRIBUTING.md#practices)

The practice should do the same thing as, e.g., https://snyk.io/ does. Let us know if you need some help.

@vlasy

[2019-12-09 07:43] prokopsimek commented on #175
related to #111

[2019-12-14 14:35] ryzzaki opened #186 "[BUG] dxs --init does not behave as expected"
I generated a new Java/Gradle project using [https://start.spring.io/](url) and navigated myself to the root directory of the project on the terminal.

I attempted to initialise dx-scanner using `dxs --init`. The expected behaviour is such that DXS will create a new `.dxscannerrc.yaml` file in my new local project repository. However, instead of this behaviour, DXS throws:

[code]

From what I hav

[2020-01-09 08:26] prokopsimek commented on #111
Done

[2020-01-09 08:26] #111 closed

[2020-01-09 08:26] prokopsimek commented on #73
Done

[2020-01-09 08:26] #73 closed

[2020-01-09 14:05] #95 closed

[2020-01-09 14:07] prokopsimek commented on #103
Now it works

[2020-01-09 14:07] #103 closed

[2020-01-09 14:07] prokopsimek commented on #104
Now it works

[2020-01-09 14:07] #104 closed

[2020-01-09 14:08] prokopsimek commented on #153
@jansedlon Hi Honza, it should work for now. Could you test it, please? Thanks! 🙂

[2020-01-09 14:09] prokopsimek commented on #155
It works for now

[2020-01-09 14:09] #155 closed

[2020-01-09 14:09] prokopsimek commented on #168
Done

[2020-01-09 14:09] #168 closed

[2020-01-10 07:38] #96 closed

[2020-01-10 07:51] prokopsimek commented on #96
:tada: This issue has been resolved in version 1.30.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v1.30.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-14 09:11] #179 closed

[2020-01-14 09:27] prokopsimek commented on #179
:tada: This issue has been resolved in version 1.33.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v1.33.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-14 21:42] jansedlon commented on #153
@prokopsimek Hello Prokop, I'm so sorry for the delay. I've tried it with your command and it works like a charm, thank! :)

[2020-01-14 21:42] #153 closed

[2020-01-15 08:07] prokopsimek opened #205 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-01-15 09:26] prokopsimek commented on #205
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-01-15 10:24] #205 closed

[2020-01-21 12:32] ryzzaki opened #211 "(Java) Add a practice that checks whether the project uses a package manager"
The proposed practice will check whether the scanned project uses a package manager such as Maven or Gradle for Java. This practice should go hand in hand parallel with an already existing practice for JavaScript with an id of `Javascript.PackageManagementUsed`.

[2020-01-21 12:40] ryzzaki opened #212 "(Java) Add a practice that checks whether the project uses a Mocking framework"
The proposed practice will check whether the project uses a Mocking framework such as `Mockito, PowerMock, or JMock` alongside a testing framework.

[2020-01-22 13:17] prokopsimek opened #214 "Thresholds customization"
*As a user of DX Scanner I want to configure my custom thresholds for specific practices in DX Scanner configuration file to override defaults.*

<p></p>

In a practice `ThinPullRequestsPractice` is used threshold `measurePullRequestCount = 1000`. This is the default settings and the user should have a possibility to override it in `.dxscannerrc` config file.

<p></p>

**Definitions of done:**

-

[2020-01-22 13:17] prokopsimek commented on #214
Link to feature: https://dxheroes.productboard.com/feature-board/planning/features/2736145

[2020-01-22 22:14] ryzzaki opened #216 "(Java) Add a practice that checks whether the project uses a testing framework like JUnit"
The proposed practice will check whether the project uses a testing framework such as `JUnit`

[2020-01-22 22:15] ryzzaki opened #217 "(Java) Add a practice that checks whether the project uses a logger such as Log4j"
The proposed practice will check whether the project uses a logger such as `Log4J`

[2020-01-23 14:20] ryzzaki commented on #212
This issue has been merged in PR #213

[2020-01-23 14:21] ryzzaki commented on #211
This issue has been solved & merged in PR #213

[2020-01-23 14:21] #211 closed

[2020-01-23 14:24] ryzzaki commented on #186
This issue has been resolved in PR #192

[2020-01-23 14:24] #186 closed

[2020-01-24 21:08] #175 closed

[2020-01-24 21:09] #62 closed

[2020-01-27 10:06] ryzzaki opened #224 "(Java) Add a practice that checks whether all files use PascalCase naming convention"
The proposed practice will check whether the project uses PascalCase naming convention for all `.java` class files.

[2020-01-27 19:46] ryzzaki commented on #212
This issue has been merged in PR #215

[2020-01-27 19:46] #212 closed

[2020-01-28 12:09] ryzzaki commented on #217
This issue has been resolved in PR #219

[2020-01-28 12:09] #217 closed

[2020-01-28 12:10] ryzzaki commented on #216
This issue has been resolved in PR #218

[2020-01-28 12:10] #216 closed

[2020-02-03 09:37] prokopsimek commented on #147
Won't do because refactored to Commander.js

[2020-02-03 09:37] #147 closed

[2020-02-10 13:12] ryzzaki commented on #224
Issue resolved in PR #225

[2020-02-10 13:12] #224 closed

[2020-03-02 11:33] ryzzaki commented on #66
This issue has been solved & merged in PR #209

[2020-03-02 11:33] #66 closed

[2020-03-04 15:05] #214 closed

[2020-03-06 07:40] prokopsimek opened #260 "[BUG] --ci mode doesn't throw an error if inserted wrong credentials"
If the authorization argument contains invalid credentials and the command is run in on CI (`--ci`) so the command silently fails.

## Expected Behavior

It will throw an error that credentials are invalid.

## Current Behavior

[code]

## Possible Solution

It's probably catched by try/catch around `evaluate` function in the body of `Scanner.ts`. It's necessary to throw an error while running in

[2020-03-06 17:36] adelkahomolova opened #263 "[BUG] Listing issues fails on Bitbucket if issue tracker is not enabled"
## Expected Behavior
Practice Solve Issue Continuously should return practicing as there are no issues if there is no issue tracker.

## Current Behavior
Practice Solve Issues Continuously fails if there is no issue tracker

## Possible Solution
Is there is no issue tracker return practicing instead of failing the practice.

## Steps to Reproduce (for bugs)

1. dxs run https://bitbucket.org/maras3

[2020-03-06 17:38] adelkahomolova opened #264 "[BUG] GitHub returns wrong info about pagination"
octokit.paginate() is no longer used but the custom pagination was not updated according to this change

[2020-03-09 20:11] adelkahomolova opened #267 "[BUG] It's not possible to scan local repo which doesn't have a git"
## Expected Behavior
User can scan local repo without git.

## Current Behavior

Scanning fails because of no matching bindings for IContentRepositoryBrowser.
![image](https://user-images.githubusercontent.com/53510747/76253118-57e5c780-624a-11ea-9842-08edf6d7aa2c.png)

## Possible Solution

Change the logic of binding in ScannerContextBinding
![image](https://user-images.githubusercontent.com/535

[2020-03-10 13:04] adelkahomolova opened #268 "BitbucketService doesn't support self-hosted repositories"
Bitbucket can be self-hosted as well as Gitlab.

[2020-03-10 13:12] adelkahomolova opened #269 "GitHub doesn't support self-hosted repositories"
GitHub can be self-hosted as well as Gitlab.

[2020-03-17 13:22] prokopsimek opened #280 "[BUG] GitLabClient has set invalid host in practices while running locally"
## Expected Behavior

Practices work on Java project.

## Current Behavior

[code]

Practices try to call `127.0.0.1:80` (localhost) because a `CollaborationInspector` creates the instance of `GitLabClient` before the `host` is correctly set from remote in `ScanningStrategyDetector`.

## Possible Solution

It's necessary to detect correct `host` of GitLab remote before the `CollaborationInspector`

[2020-03-19 20:05] jozolam opened #287 "Incorrect usage of Promise.all"
## Expected Behavior
Promise.all should be used when multiple promises can be resolved concurrently.
## Current Behavior
Promise.all is being used only on a few places and mostly for resolving already resolved promises.
example: https://github.com/DXHeroes/dx-scanner/blob/1692ac0a565c6c419bfac0f0c3b4f5a06d72e8ba/src/inspectors/GitInspector.ts#L114

Correct usage of Promise.all can improve performa

[2020-03-22 10:09] #280 closed

[2020-03-23 10:06] ryzzaki commented on #260
This issue has been merged in PR #279

[2020-03-23 10:06] #260 closed

[2020-03-23 16:14] prokopsimek commented on #287
Thanks for the catch! We'll fix it.

[2020-03-27 08:37] adelkahomolova commented on #264
#270 solved it

[2020-03-27 08:37] #264 closed

[2020-03-27 21:14] adelkahomolova commented on #267
Solved in #295

[2020-03-27 21:14] #267 closed

[2020-04-03 12:49] ryzzaki commented on #75
Solved & Merged in PR #253

[2020-04-03 12:49] #75 closed

[2020-04-26 09:36] vlasy opened #320 "RenovateBot updates even when tests fail"
Few days ago, renovate-bot commited to master a change which broke the branch - https://github.com/DXHeroes/dx-scanner/commit/c2d27300292e0d65926727fdb50034e84cf06c4d

As you can see, the build was red, but the commit happened anyway.

I checked the renovate-bot config and the `automergeType` is se to `branch` https://github.com/DXHeroes/dx-scanner/blob/d52356c2c8226a367692928195338d649d487b5c/.re

[2020-09-10 16:29] vlasy commented on #320
It looks like the issues mentioned here: https://github.com/renovatebot/config-help/issues/616

Ref: PR created by RenoveBot when the first checks failed: https://github.com/DXHeroes/dx-scanner/pull/316

[2020-09-17 10:34] vlasy commented on #320
The problem seems to be following:
dx-scanner uses [Renovate](https://github.com/DXHeroes/dx-scanner/blob/4ec4916c4ed8e29d146e232f2ba606f6aafca852/.renovaterc) which is set to automatically merge when it's [up to date with master branch and all tests pass](https://docs.renovatebot.com/configuration-options/#automergetype). But there are no Github tests being run for the PRs. Therefore the non-majo

[2020-09-18 11:21] prokopsimek opened #392 "Create a language detector for Swift (~100 new lines of code)"
We'd like to measure the quality of apps written in Swift.

There are "language detectors" to determine what language is on which path.

It's necessary to implement **SwiftLanguageDetector** the same way as is [JavaScriptLanguageDetector](https://github.com/DXHeroes/dx-scanner/blob/master/src/detectors/JavaScript/JavaScriptLanguageDetector.ts) implemented. It's around 100 new lines of code includi

[2020-09-18 11:22] prokopsimek opened #393 "Create a component detector for Swift (~60 new lines of code)"
We'd like to measure the quality of apps written in Swift.

There are "component detectors" to determine frameworks, platform, and type of an application.

It's necessary to implement **SwiftComponentDetector** the similar way as is [JavaComponentDetector](https://github.com/DXHeroes/dx-scanner/pull/50/files#diff-713f3c9ac097761276975cddf91b94b1) implemented.
It's around 60 new lines of code inclu

[2020-09-22 06:01] prokopsimek opened #396 "New Practice: Readme contains necessary content"
## New Practice Proposal

Create a practice to check if the README file contains necessary headlines.

*Proposal:*
Readme contains...
- exactly one `<h1>` or `#` headline
- `<h2>` or `##` headline for "Getting Started"
- `<h3>` or `###` headline for "Prerequisites"
- `<h3>` or `###` headline for "Installing" or "Installation"
- `<h2>` or `##` headline for "Contributing" or "Contribution"
- `<h2>`

[2020-09-23 04:32] prokopsimek opened #397 "New Practice: Changelog is present"
## New Practice Proposal

A new practice that checks if the repository contains a Changelog file.

[2020-09-23 04:47] prokopsimek opened #398 "Add a new Data Collector measuring tech stack in project"
## New Feature Proposal

A new Collector existing in `src/collectors` folder that measures technological stack for a Repository.

The new collector measures the size of a project and used programming languages in a Repository.

You can use e.g. https://www.npmjs.com/package/cloc

The result should be something like:
[code]

[2020-09-29 08:23] #320 closed

[2020-09-29 08:39] prokopsimek commented on #320
:tada: This issue has been resolved in version 3.39.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.39.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.39.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-30 00:10] daniloff200 commented on #397
I heard about this tool sometime ago in Twitter, also, today I suddenly found it in Hacktoberfest projects list :)

Could this one be assigned to me?  Wanna try to work with such tools, and make some work

[2020-09-30 08:59] prokopsimek commented on #397
@daniloff200 Of course! 🎉

[2020-09-30 10:32] prokopsimek opened #403 "New Practice: Gitignore for Android"
## New Practice Proposal

Create a new practice that checks correctly set `.gitignore` for Android.

[2020-09-30 10:34] prokopsimek opened #404 "Create a language detector for Android (~100 new lines of code)"
We'd like to measure the quality of apps written in Android.

There are "language detectors" to determine what language is on which path.

It's necessary to implement ** AndroidLanguageDetector** the same way as is [JavaScriptLanguageDetector](https://github.com/DXHeroes/dx-scanner/blob/master/src/detectors/JavaScript/JavaScriptLanguageDetector.ts) implemented. It's around 100 new lines of code in

[2020-09-30 10:35] prokopsimek opened #405 "Create a component detector for Android (~60 new lines of code)"
We'd like to measure the quality of apps written for Android.

There are "component detectors" to determine frameworks, platform, and type of an application.

It's necessary to implement **AndroidComponentDetector** the similar way as is [JavaComponentDetector](https://github.com/DXHeroes/dx-scanner/pull/50/files#diff-713f3c9ac097761276975cddf91b94b1) implemented.
It's around 60 new lines of code

[2020-09-30 10:38] prokopsimek opened #406 "New Practice: Gitignore practice for Swift"
## New Practice Proposal

Create a new practice that checks correctly set `.gitignore` for Swift.

[2020-09-30 10:39] prokopsimek opened #407 "New Practice: Gitignore practice for Go lang"
## New Practice Proposal

Create a new practice that checks correctly set `.gitignore` for Go lang.

[2020-09-30 10:39] prokopsimek opened #408 "New Practice: Gitignore practice for Ruby"
## New Practice Proposal

Create a new practice that checks correctly set `.gitignore` for Ruby.

[2020-09-30 10:40] prokopsimek opened #409 "New Practice: Gitignore practice for C#"
## New Practice Proposal

Create a new practice that checks correctly set `.gitignore` for C#.

[2020-09-30 10:40] prokopsimek opened #410 "New Practice: Gitignore practice for C++"
## New Practice Proposal

Create a new practice that checks correctly set `.gitignore` for C++.

[2020-09-30 10:40] prokopsimek opened #411 "New Practice: Gitignore practice for C++"
## New Practice Proposal

Create a new practice that checks correctly set `.gitignore` for C++.

[2020-09-30 10:41] prokopsimek opened #412 "New Practice: Gitignore practice for PHP"
## New Practice Proposal

Create a new practice that checks correctly set `.gitignore` for PHP.

[2020-09-30 10:43] prokopsimek opened #413 "New Practice: Used linter for Android"
## New Practice Proposal

Create a new practice that checks if is used linter for Android.

[2020-09-30 10:43] prokopsimek opened #414 "New Practice: Used Linter for Swift"
## New Practice Proposal

Create a new practice that checks if is used linter for Swift.

[2020-09-30 10:43] prokopsimek opened #415 "New Practice: Used Linter for Go lang"
## New Practice Proposal

Create a new practice that checks if is used linter for Go lang.

[2020-09-30 10:43] prokopsimek opened #416 "New Practice: Used Linter for Ruby"
## New Practice Proposal

Create a new practice that checks if is used linter for Ruby.

[2020-09-30 10:44] prokopsimek opened #417 "New Practice: Used Linter for PHP"
## New Practice Proposal

Create a new practice that checks if is used linter for PHP.

[2020-09-30 10:44] prokopsimek opened #418 "New Practice: Used Linter for C#"
## New Practice Proposal

Create a new practice that checks if is used linter for C#.

[2020-09-30 10:44] prokopsimek opened #419 "New Practice: Used Linter for C++"
## New Practice Proposal

Create a new practice that checks if is used linter for C++.

[2020-09-30 10:45] prokopsimek opened #420 "New Practice: Used Linter for Python"
## New Practice Proposal

Create a new practice that checks if is used linter for Python.

[2020-09-30 12:50] hariom1625 commented on #269
Hey @adelkahomolova , I am pretty confused. What exactly needs to be done in this issue?

[2020-09-30 13:04] adelkahomolova commented on #269
Hi, @hariom1625, thank you for the question. It is necessary to find out which VCS service is used (we support GitLab, GitHub, and Bitbucket). The way, how we found it out is just by URL (checking for "GitHub" string in URL). See [ScanningStrategyDetectorUtils.ts](https://github.com/DXHeroes/dx-scanner/blob/master/src/detectors/utils/ScanningStrategyDetectorUtils.ts#L6)
As GitHub has also the opti

[2020-09-30 16:19] haardikdharma10 commented on #269
Hey @adelkahomolova, I would love to trigger this issue and add support for GitHub. Can I go ahead?

[2020-09-30 17:25] hariom1625 commented on #269
Yes @adelkahomolova, That was helpful :-)

[2020-09-30 18:31] ramesht007 commented on #420
hey @prokopsimek , can I work on this

[2020-09-30 19:25] prokopsimek commented on #420
@ramesht007 Go for it! 👏

[2020-09-30 19:33] adelkahomolova commented on #269
@haardikdharma10 Sure! Go ahead :)

[2020-09-30 20:47] haardikdharma10 commented on #269
Thanks @adelkahomolova. I'd like some help on getting started. I went through both the files you mentioned above. The question I have is, do I need to change anything in the /src/services folder? I can see the file (GitHubService) but nothing such as githubClient similar to the one in gitlab folder (gitlabClient). Additionally, if you can help me with the files I need to edit, that'd be great :)

[2020-10-01 04:16] shobhi1310 commented on #419
Sir, can you assign me this issue, I want to work on this. 🙂

[2020-10-01 05:04] prokopsimek commented on #419
@shobhi1310 Hi! Thank you, the issue is yours. 👏

[2020-10-01 05:10] iamRishabh07 commented on #411
Hi @prokopsimek I would like to work on this issue.

[2020-10-01 05:12] iamRishabh07 commented on #396
Hi, @prokopsimek I would like to work on this issue.

[2020-10-01 05:13] iamRishabh07 commented on #397
Hi, @prokopsimek I would like to work on this issue.

[2020-10-01 05:13] iamRishabh07 commented on #64
Hi, @prokopsimek I would like to work on this issue.

[2020-10-01 05:24] prokopsimek commented on #269
@haardikdharma10 Hi! Thank you for your question! There is no client for Github because we are using the Octokit library and it acts as the "Client".

There is a function to detect self-hosted Gitlab called `determineGitLabRemoteServiceType`: https://github.com/DXHeroes/dx-scanner/blob/master/src/detectors/ScanningStrategyDetector.ts#L193-L221 that is called in the function `determineInputType`: h

[2020-10-01 05:25] prokopsimek commented on #411
@iamRishabh07 Sure! Go ahead! 👏

[2020-10-01 05:26] prokopsimek commented on #396
@iamRishabh07 Sure! Go for it! 🎉

[2020-10-01 05:27] prokopsimek commented on #397
@iamRishabh07 I am sorry, I have promised the issue for @daniloff200. 🤝

[2020-10-01 05:28] prokopsimek commented on #64
@iamRishabh07 Awesome! The issue is yours! 💪

[2020-10-01 05:32] ramesht007 commented on #420
Hey, @prokopsimek can you give me an example what exactly do i have to create. Do I have to create a workflow for Python linter.
Thanks

[2020-10-01 05:49] prokopsimek commented on #420
@ramesht007 There is the similar practice for JavaScript and its linter ESLint. You can follow the implementation and update it for Python (the code is still in TypeScript).

Used Linter for JavaScript Practice: https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/JavaScript/ESLintUsedPractice.ts

Tests: https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/JavaScript/ESLint

[2020-10-01 05:50] ramesht007 commented on #420
Thanks

[2020-10-01 05:52] ramesht007 commented on #420
Do i have to write the code in TypeScript

[2020-10-01 05:55] prokopsimek commented on #420
@ramesht007 Sure, the project is whole in TypeScript. The app can find any other language but the source code is in TypeScript.

[2020-10-01 05:59] ramesht007 commented on #420
ok thanks

[2020-10-01 08:43] haardikdharma10 commented on #269
@prokopsimek, Thanks a lot for such a brief and prompt response. It cleared almost everything in my head. Just to make sure before starting working on it:
1. First thing is to add the two functions (listRepos and listGroups) in the GitHubService.ts file similar to the ones in the GitLabService.ts.
2. Second, create a function similar to `determineGitLabRemoteServiceType`and call it in `determineIn

[2020-10-01 09:49] adelkahomolova commented on #269
1) It's not about adding the same methods as we use for GitLab. You have to find out, which endpoints ensure that you can get a valid response. But in the case of getting a list of repositories and lists of groups, the answer is yes. You have to add these methods in GitHubService.ts and than use them for determining.

2) Yes, create similar to `determineGitLabRemoteServiceType` but call it the sam

[2020-10-01 09:57] haardikdharma10 commented on #269
Thanks a lot! On it.

[2020-10-01 10:33] king-11 commented on #287
@prokopsimek can i start working on this issue ?

[2020-10-01 10:36] prokopsimek commented on #287
@king-11 Sure! Go ahead! 😍

[2020-10-01 11:23] gagandeepp commented on #418
I would like to work on this,please elaborate your requirement

[2020-10-01 11:30] mohitrakhade20 opened #428 "docs : add links of gitlab & bigbucket repo"
## New Feature Proposal

Add links of gitlab, bigbucket and github  repo
**gitlab** link :  https://gitlab.com/ubon-refer/smart-refer-api
**bigbucket** link : https://bitbucket.org/maras333/node-api-with-ts
**github** link:  https://github.com/DXHeroes/dx-scanner

[2020-10-01 11:31] mohitrakhade20 commented on #428
Can I work on this ?
I would love to contribute...

[2020-10-01 11:33] prokopsimek commented on #428
@mohitrakhade20 Hi! Thank you for your suggestion. May I ask you where you would like to add these links?

[2020-10-01 11:35] prokopsimek commented on #418
@gagandeepp Hi! Thank you for your interest!

There is the similar practice for JavaScript and its linter ESLint. You can follow the implementation and update it for C# (the code is still in TypeScript).

Used Linter for JavaScript Practice: https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/JavaScript/ESLintUsedPractice.ts

Tests: https://github.com/DXHeroes/dx-scanner/blob/master/s

[2020-10-01 11:42] mohitrakhade20 commented on #428
### Which version control system can you use?

Sure you can use `GitHub`. You can also use `GitLab` and `Bitbucket` no matter if it is public or private repo!

examples:
[code]
---

In the second line, I want to add hyperlinks of `GitHub` , `GitLab` and `Bitbucket`

[2020-10-01 11:51] prokopsimek commented on #428
@mohitrakhade20 I understand. Thank you for your proposal but it's not necessary to have these links navigating to repository details. We mention just examples and it's clear enough to understand how it works.

[2020-10-01 11:51] #428 closed

[2020-10-01 11:57] mohitrakhade20 commented on #428
No problem, I will find other way to contribute. Let me know if you can help me.

[2020-10-01 11:59] prokopsimek commented on #428
@mohitrakhade20 If you're experienced with TypeScript, you can choose one of our issues there: https://github.com/DXHeroes/dx-scanner/issues

If you would like to participate in DX Knowledge Base so you can write an article in our second repository there: https://github.com/DXHeroes/knowledge-base-content/issues

Do not hesitate to contact me if you have any other questions. 👏❤️

[2020-10-01 12:19] chhipanikhil9 commented on #410
can u assign to me?

[2020-10-01 12:20] prokopsimek commented on #410
@chhipanikhil9 Sure! Go ahead! 👏

[2020-10-02 02:45] avats-dev commented on #416
Hey @prokopsimek , I want to work on this. Can you guide me a bit how to resolve this? Thanks.

[2020-10-02 02:46] avats-dev commented on #412
Hey @prokopsimek , I want to work on this. Can you guide me a bit how to resolve this? Thanks.

[2020-10-02 02:46] avats-dev commented on #408
Hey @prokopsimek , I want to work on this. Can you guide me a bit how to resolve this? Thanks.

[2020-10-02 07:07] king-11 opened #439 "test running parallely cause system to freeze"
The amount of test that needs to be run is quite a lot running them parallel isn't possible on many systems even with GPU acceleration because most systems have a memory of around 8 Gig which in my case I encountered to be insufficient when running test parallelly and my system froze every time I run tests.

[2020-10-02 08:40] adelkahomolova commented on #408
Hi, @avats-dev ,
you can get the inspiration in already existing practices for other languages, for example for JavaScript [JsGitignoreCorrectlySetPractice](https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/JavaScript/JsGitignoreCorrectlySetPractice.ts). You just need to respect the specification of Ruby for `.gitignore`. Don't forget to write tests, please!

Thank you for your inte

[2020-10-02 10:27] iamRishabh07 commented on #411
@prokopsimek How do I reproduce this error.

[2020-10-02 10:44] adelkahomolova commented on #411
@iamRishabh07 It's not an error. You should create a new practice. Code that checks, that you have correctly set `.gitignore` in C++ repository. See practices for other languages in the folder [src/practices](https://github.com/DXHeroes/dx-scanner/tree/master/src/practices). Our whole project is in Typescript as you can see on the main page on GitHub.

[2020-10-02 10:48] anishkargaonkar commented on #415
@prokopsimek I would like to take this up. If yes, some pointers on how to get started will be very helpful.

[2020-10-02 10:56] adelkahomolova commented on #415
@anishkargaonkar Hi, you can get the inspiration in our already existing practice for JavaScript. For JS, we check, if the user uses ESLint. Get the inspiration here [JavaScript/ESLintUsedPractice.ts](https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/JavaScript/ESLintUsedPractice.ts)
So for the GoLang, you should check the most used linter for GoLang.

[2020-10-02 11:29] anishkargaonkar commented on #415
@adelkahomolova thanks, it helps. The most commonly used linter for Go is [golint](https://pkg.go.dev/golang.org/x/lint/golint). Let me know if I can proceed with golint.

[2020-10-02 12:38] adelkahomolova commented on #415
I tried to google it and it seems that there is more than one widely used linter in Go lang. So you can check whether the user is using at least one of them. I found e.g. golangci-lint. You can start working on this practice :) @anishkargaonkar

[2020-10-02 13:49] king-11 commented on #439
@prokopsimek i found this issue while working on #287

[2020-10-02 23:55] avats-dev commented on #408
Thanks, @adelkahomolova for the insights. Working on this..:rocket:

[2020-10-03 06:01] ronaudinho commented on #398
i took a look at https://www.npmjs.com/package/cloc and from my understanding, it is not a JS/TS library that can be imported in code, is the idea here is simply to install, exec, and parse the result?

[2020-10-03 08:44] king-11 commented on #287
@prokopsimek I encountered two issues and want to know your perspective abt it
- flat traverse in both of the files have two promises that they are awaiting so shall I first fetch metadata for all using Promise.all and then proceed for processing further using another Promis.all or something else should be one

- also current test for Git.ts and FileSystemService.ts check if function stops at once

[2020-10-03 09:17] iamRishabh07 commented on #411
@adelkahomolova @prokopsimek can you guide me I am having some difficulty while trying to solve this issue.

[2020-10-03 19:38] adelkahomolova commented on #287
There should be just one Promise.all. You'll just replace for loop for Promise.all.

Yes, you should update the tests :)

Did I help you? :) @king-11

[2020-10-03 19:39] king-11 commented on #287
one promise .all i didn't get that part 😅 because i would even to use async await maybe then...

[2020-10-03 19:42] adelkahomolova commented on #411
@iamRishabh07 What about trying to resolve my comments on Pull requests that you already made? :) I tried to guide you there. Let me now, if there is anything else I can help you with.
I can guide you on this issue when you finish the job you've already started. :)
So look at this PR you made [PR 434](https://github.com/DXHeroes/dx-scanner/pull/434) and this one you made [PR 435](https://github.co

[2020-10-03 19:51] adelkahomolova commented on #398
I looked at the library too and I think you can use the same principle as we use for working with yarn/npm audit. We exec it with `shell.exec()` method and then parse the output. Look at [SecurityVulnerabilitiesPractice](https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/JavaScript/SecurityVulnerabilitiesPractice.ts)
Did it help you? @ronaudinho Let me know if you need a deeper intro

[2020-10-03 20:13] adelkahomolova commented on #287
I think you can do it in the almost same way as it is made in [Git.ts](https://github.com/DXHeroes/dx-scanner/blob/1692ac0a565c6c419bfac0f0c3b4f5a06d72e8ba/src/inspectors/GitInspector.ts#L114)
You will have something like
[code]

But maybe I'm wrong, that's also possible 😂
Let me know if it helps @king-11

[2020-10-03 20:15] adelkahomolova commented on #397
Hi @daniloff200 , let me know if you'll need any guidance from us. We are here for you 😇

[2020-10-03 20:19] king-11 commented on #287
@adelkahomolova I guess I was just thinking too much looks good to me thanks for your quick reply :) I will send in the PR today

[2020-10-03 20:24] adelkahomolova commented on #416
Hi @avats-dev . It should do the same thing as the practice for Javascript [ESLintUsedPractice](https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/JavaScript/ESLintUsedPractice.ts) just for Ruby. So choose the most widely used linter for Ruby and do almost the same code as we used for JS. Is it clearer now?

[2020-10-03 20:29] adelkahomolova commented on #412
Hi @avats-dev . There exists the same practice for JavaScript. Check [JsGitignoreCorrectlySetPractice](https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/JavaScript/JsGitignoreCorrectlySetPractice.ts).
It should be almost the same, just with specifications for PHP. It should check if the programmer has his `.gitignore` in the PHP project set correctly.
Is it clearer now? :)

[2020-10-03 20:36] avats-dev commented on #416
Yeah, I'm seeing other practices and will update soon. Thanks for the insights @adelkahomolova .

[2020-10-03 20:37] avats-dev commented on #412
Yeah, I understand now. Thanks, updating soon.

[2020-10-04 00:43] daniloff200 commented on #397
hey @adelkahomolova
yeah, I'm going to finish my PR this week :)

[2020-10-04 00:53] dantehemerson opened #444 "[BUG] Check for CI with Github Actions"
I have my CI workflow configured with [Github Actions](https://github.com/features/actions)(Currently only **testing**, but I could add **deployment** and other processes), but I'm getting the  message of: `- Use Continuous Integration`

## Expected Behavior

The message of `- Use Continuous Integration` should not be shown because Github Action is configured for my project.
## Current Behavior

I

[2020-10-04 13:52] chhipanikhil9 commented on #410
hi  prokopsimek could you please explain me what actually i have to do in this issue.  i am not getting meaning of 'Create a new practice that checks correctly set .gitignore for C++'.
Please elaborate little bit so that I can work on it.

Thanks

[2020-10-04 19:06] iamRishabh07 commented on #411
@adelkahomolova I am working on that issue.

[2020-10-05 07:02] adelkahomolova commented on #410
Hi @chhipanikhil9  . There exists the same practice for JavaScript. Check [JsGitignoreCorrectlySetPractice](https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/JavaScript/JsGitignoreCorrectlySetPractice.ts).
It should be almost the same, just with specifications for C++. It should check if the programmer has his `.gitignore` in the C++ project set correctly.
Is it clearer now? :)

[2020-10-05 07:07] adelkahomolova commented on #444
Hi, @dantehemerson , thanks for the catch! Sure, it would be awesome if you'll work on it. Let me know if you'll need any help. :)

[2020-10-06 13:15] king-11 commented on #439
closed by #440

[2020-10-06 13:15] #439 closed

[2020-10-06 13:16] king-11 commented on #409
@prokopsimek can I start working on this issue.

[2020-10-06 13:17] adelkahomolova commented on #409
@king-11 Sure, do you need any intro? :)

[2020-10-06 13:18] king-11 commented on #409
@adelkahomolova i haven't written any practices yet so yeah an intro will help :)

[2020-10-06 13:22] adelkahomolova commented on #409
Sure :)
You can get the inspiration in already existing practices for other languages, for example for JavaScript [JsGitignoreCorrectlySetPractice](https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/JavaScript/JsGitignoreCorrectlySetPractice.ts). You just need to respect the specification of C# for `.gitignore`.
You can see other practices in the practices folder :)

Is it clear now?

[2020-10-06 13:34] ng29 commented on #403
Heya, @prokopsimek I would like to work on this issue..

[2020-10-06 13:36] adelkahomolova commented on #403
@ng29 Sure, it's yours! Thank you for your interest :)

[2020-10-07 01:45] dantehemerson commented on #405
@prokopsimek  Can I take this?

[2020-10-07 07:46] adelkahomolova commented on #405
@dantehemerson Sure, go for it! If you need any help, let us know :)

[2020-10-07 11:16] #287 closed

[2020-10-07 11:17] #444 closed

[2020-10-07 11:17] #80 closed

[2020-10-07 11:21] adelkahomolova commented on #412
Hi, @avats-dev how are you going? Do you need any help? :)

[2020-10-07 11:22] adelkahomolova commented on #415
@anishkargaonkar Hi, how are you going? Do you need any help? :)

[2020-10-07 11:22] adelkahomolova commented on #419
@shobhi1310  Hi, how are you going? Do you need any help? :)

[2020-10-07 11:22] adelkahomolova commented on #420
@ramesht007 Hi, how are you going? Do you need any help? :)

[2020-10-07 11:24] adelkahomolova commented on #418
Hi, @gagandeepp have you already started to work on implementing the linter for C#? Do you need any help?

[2020-10-07 11:24] adelkahomolova commented on #398
Hi, @ronaudinho how are you going? Do you need any help? :)

[2020-10-07 11:41] prokopsimek commented on #287
:tada: This issue has been resolved in version 3.40.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.40.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.40.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-07 11:41] prokopsimek commented on #444
:tada: This issue has been resolved in version 3.40.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.40.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.40.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-07 11:41] prokopsimek commented on #80
:tada: This issue has been resolved in version 3.40.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.40.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.40.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-07 11:52] ronaudinho commented on #398
hi @adelkahomolova , haven't got the time to further try this, will likely try on the weekend.

just one question though, other than via `yarn test <filename>`, is there any way I can isolate on the feature I'm working on when running dxscanner? I'd prefer not to run whole scan just to check parts I am adding for data collector works i.e something like `dxscanner run --func=data-collector .` to on

[2020-10-07 12:01] anishkargaonkar commented on #415
@adelkahomolova it's going good, working on go package inspector. Actually, I do, there are 2 dependency managers available for golang, [dep](https://github.com/golang/dep) and [go mod](https://blog.golang.org/using-go-modules) which generate `Gopkg.toml` & `go.mod` respectively. I did find a parser for `.toml` file [@iarna/toml](https://www.npmjs.com/package/@iarna/toml) but could not find parser

[2020-10-07 12:08] adelkahomolova commented on #398
Actually, there is no option like this. I know dx-scanner is quite big so it takes a long time to run but you can use any other library you can be running dxs on. E.g. `dxs run https://github.com/expressjs/express`.
I hope it helps you a little bit. @ronaudinho
Have a nice day!

[2020-10-07 12:20] adelkahomolova commented on #415
Hey, I'm really sorry but I've just merged `GoComponentDetector`, where one of the contributors implemented also `GoPackageInspector`. Sorry about that! Pull the master to get the newest version of dx-scanner, please. @anishkargaonkar

[2020-10-07 12:54] anishkargaonkar commented on #415
Sure, no problem.

[2020-10-07 14:40] shobhi1310 commented on #419
I was having my semester quizzes, will resume from today again 😅

[2020-10-08 07:02] gagandeepp commented on #418
@adelkahomolova I will work on this weekend and connect with you thanks!
Sorry for late reply

[2020-10-08 07:42] adelkahomolova commented on #418
No worries! Sure, contact me if you'll need any help :)

[2020-10-08 07:43] adelkahomolova commented on #419
Sure, no worries! Hope you were doing great in the quizzes ❤️ Let me know if you'll need any help.

[2020-10-08 12:03] ramesht007 commented on #420
Hey, @adelkahomolova sorry, for the delay, I am still trying to figure out how to wrtie the code in type script. Do have any tutorial for the same.

[2020-10-08 13:15] adelkahomolova commented on #420
I'll just copy the message from my colleague Prokop, who already sent you big hint. @ramesht007 :

As he said - is almost the same. You'll just find linter for Python used by most Python programmers. The code will be almost the same as for ESLint.

[2020-10-10 01:05] PuZZleDucK commented on #68
I've got a question about how dx-scanner would interpret some of the nuance of Gemfile versioning. Here are some examples from the Gemfile of another project:
[code]

There are 3 components here I'd like to ask questions about 🤔:

1. The 1st line of the example represents all that a Gemfile usually specifies and no version number is included... The other package inspectors seem to drop packages wi

[2020-10-10 05:05] PuZZleDucK commented on #68
I've answered at least one of my questions by experimenting... The semantic version construct is more flexible than I thought and happily accepts versions like "2.0" and "0.18"... I'm still not sure what to do with the symbols like ">=" or when there are multiple version constraints tho?

[2020-10-10 14:33] Ogatron3000 commented on #414
Hi, can I work on this?

[2020-10-11 07:25] king-11 commented on #409
@adelkahomolova sorry for the delay so I wanted to ask that I have to create a new folder for C# I guess so what shall it be named :sweat_smile:

[2020-10-11 07:31] king-11 commented on #409
@adelkahomolova  sorry for the delay, so I started working on it but the gitignore practice that I found are for VisualStuidoCode, not C# so shall I use them as its the default IDE I believe for C# users.

[2020-10-11 11:30] gagandeepp commented on #418
https://github.com/DXHeroes/dx-scanner/pull/451

[2020-10-11 13:38] sudiptog81 commented on #417
Can I try to take on this one?

[2020-10-12 06:29] gagandeepp commented on #418
@adelkahomolova  Can you please let me know which linter do you want to use for C#

[2020-10-13 09:14] daniloff200 commented on #397
Ah, unfortunately I have a big rush on my current project, also, with library,  which I maintain, and, could'n make this one
Unnasigned myself
Sorry for that :disappointed:

[2020-10-13 19:32] ng29 commented on #403
Current status: - I have asked some queries from @adelkahomolova  on slack, waiting for feedback/reply.

[2020-10-14 08:06] adelkahomolova commented on #68
Hi, firstly I'm really sorry for the long delay. I had a crazy week.
1. I'm not sure if it's the best idea to save it as `0.0.0`. I think there should emerge the practice, which would warn the user about packages which doesn't have versioning because it's a bad practice.
3. Since I think that the best practice always is to have as a new version as possible, I would neglect the older possible versi

[2020-10-14 08:14] adelkahomolova commented on #418
Hi, @gagandeepp . I've already answered your question in #451

[2020-10-14 08:14] #415 closed

[2020-10-14 08:27] prokopsimek commented on #415
:tada: This issue has been resolved in version 3.41.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.41.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.41.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-14 15:35] adelkahomolova commented on #397
Ok, thank you for letting me know @daniloff200 Maybe another time! I appreciate your interest in DX Scanner.

[2020-10-14 17:46] jnv commented on #263
I thought about this some more. In GitLab you can also disable issue tracker. So how about adding a method for checking whether issue tracking is available into `IIssueTrackingInspector`, say, `hasIssueTracker` and run that in the practice's method `isApplicable`?

[2020-10-15 10:28] adelkahomolova commented on #263
Hi @jnv , thank you for your interest in contributing to our repository!
The problem is in Bitbucket response. The `listIssues` method in `BitbucketService` returns 404, so we have to check it in the service. My proposal is to wrap the [axios call on line 289](https://github.com/DXHeroes/dx-scanner/blob/master/src/services/bitbucket/BitbucketService.ts#L289)in try catch and check whether the messa

[2020-10-15 11:37] adelkahomolova commented on #420
Hi @ramesht007 how is it going with this issue?

[2020-10-15 11:39] adelkahomolova commented on #414
Hi, @Ogatron3000 , sorry for the delay, I had a crazy week. Sure, you can start on it!

[2020-10-15 11:41] adelkahomolova commented on #398
Hi, how are you going @ronaudinho ? Do you need any help? :)

[2020-10-15 12:55] K-Kumar-01 commented on #397
Hello @adelkahomolova  and @prokopsimek
I wanted to know more about this issue a bit.
Does it involve writing some code to automatically detect if a changlod.md file is present.
I am able to understand that from the description.
Please correct me if i am wrong as i would like to have this issue

[2020-10-15 13:01] adelkahomolova commented on #397
Hi @K-Kumar-01 , thank you for your interest in contributing to our repository.
Yes, you should check whether [CHANGELOG.md](https://github.com/DXHeroes/dx-scanner/blob/master/CHANGELOG.md) is present or not. You can get the inspiration in already existing practice for checking whether [README.md](https://github.com/DXHeroes/dx-scanner/blob/master/README.md) is present [ReadmeIsPresentPractice](ht

[2020-10-15 13:06] K-Kumar-01 commented on #397
Yes, i would like to work up on this issue and let you know if i have any more doubts. Thanks @adelkahomolova  for the help

[2020-10-15 13:07] adelkahomolova commented on #397
Sure, let me know if you'll need any help :) @K-Kumar-01

[2020-10-15 13:56] DominikMilaniak commented on #410
**Hi again** @chhipanikhil9! 🙂

A few days have passed since our last contact, how is it going so far with the issue? Has the message from @adelkahomolova answered your question and cleared things up? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-15 14:03] DominikMilaniak commented on #408
**Hi again** @avats-dev! 🙂

A few days have passed since our last contact, how is it going so far with the issue? Is anything not clear enough or do you need help with something else? I am in no way pushing you, you can take as much time as you need 🙂  Just wanted to get in touch to make sure everything is ok 👍

[2020-10-16 08:34] jnv commented on #263
Thanks @adelkahomolova, I have prepared the fix in #458.

[2020-10-16 08:36] K-Kumar-01 commented on #397
Hello @adelkahomolova . I made a PR but it had some checks failing. I wasn't able to understand that. Could you  please tell a more about this

[2020-10-16 09:47] adelkahomolova commented on #397
It's just a GitHub API rate limit. We use GH REST API and as there is a lot of calls, sometimes it exceeds the rate limit which is quite small for unauthorized users. Nothing which could be your fault. :) @K-Kumar-01

[2020-10-16 15:30] king-11 commented on #396
@prokopsimek the issue has been stale for a while now . @iamRishabh07 if you aren't working on it can i start working?

[2020-10-16 18:41] #263 closed

[2020-10-16 18:42] #417 closed

[2020-10-16 18:42] #67 closed

[2020-10-16 18:43] #414 closed

[2020-10-16 18:47] adelkahomolova commented on #396
Since @iamRishabh07 has an open pull request in our repository for quite a long time, I think you can take this one @king-11 :)

[2020-10-16 18:54] adelkahomolova commented on #416
Hi @avats-dev how is it going?

[2020-10-16 18:55] adelkahomolova commented on #419
Hi, @shobhi1310 how is it going?

[2020-10-16 18:56] #409 closed

[2020-10-16 18:58] adelkahomolova commented on #409
Closed because it was solved in #457

[2020-10-16 18:59] prokopsimek commented on #417
:tada: This issue has been resolved in version 3.43.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.43.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.43.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-16 18:59] prokopsimek commented on #67
:tada: This issue has been resolved in version 3.43.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.43.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.43.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-16 18:59] adelkahomolova commented on #412
Hi, @avats-dev . Are you working on this issue?

[2020-10-16 18:59] prokopsimek commented on #263
:tada: This issue has been resolved in version 3.43.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.43.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.43.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-16 18:59] prokopsimek commented on #414
:tada: This issue has been resolved in version 3.43.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.43.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.43.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-16 20:20] abdulzeedo commented on #410
If @chhipanikhil9 isn't working anymore, could you assign this issue to me, please?

[2020-10-16 20:24] adelkahomolova commented on #410
Hi, @abdulzeedo . I think you can start to work on this. :) You can read some explanation of the issue above. Let me know if you'll need any help.

[2020-10-16 20:56] abdulzeedo commented on #410
Hi @adelkahomolova. Thanks for assigning it to me.  I will be working on my solution shortly.

[2020-10-18 05:15] shobhi1310 commented on #419
@adelkahomolova
Ma'am, I resumed my work yesterday, sorry for the delay but semester exams were very brain draining. 😅

[2020-10-18 06:34] shobhi1310 commented on #419
![image](https://user-images.githubusercontent.com/42507632/96360335-ef44be80-1139-11eb-9c5d-70003b7852d5.png)

I am setting up my environment but there is some issue regarding yarn. How to resolve it?

[2020-10-18 06:40] shobhi1310 commented on #419
![image](https://user-images.githubusercontent.com/42507632/96360411-c7098f80-113a-11eb-8f6f-64f4da292138.png)

Also under practices folder what folder name should I put for C++ like CPlusPlus or CPP ?

[2020-10-18 10:33] king-11 commented on #396
@adelkahomolova need a bit of help...
[code]

here an array of files is returned so should I check for the content specified in the issue to be in at least one of the files or something else ?

[2020-10-18 13:53] adelkahomolova commented on #419
Hi, @shobhi1310 , I don't know your operating system but the command with npm won't work. You have to follow the installation guide here - https://classic.yarnpkg.com/en/docs/install

Use the CPP as a name for a folder.

[2020-10-18 14:05] adelkahomolova commented on #396
Hi, @king-11 , you should use the same approach as the [JsGitignoreCorrectlySetPractice](https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/JavaScript/JsGitignoreCorrectlySetPractice.ts#L35). So use the
[code]
Also, don't forget to add `dependsOn` in the decorator. This practice depends on ReadmeIsPresent
Same as [JsGitignoreCorrectlySetPractice](https://github.com/DXHeroes/dx-scanne

[2020-10-18 14:13] shobhi1310 commented on #419
My workspace OS is linux mint

[2020-10-18 14:19] adelkahomolova commented on #419
@shobhi1310 So choose in the link I sent you and follow the guide :)

[2020-10-19 11:26] shobhi1310 commented on #419
![image](https://user-images.githubusercontent.com/42507632/96444462-ea603780-122b-11eb-9272-be2f90fda2aa.png)

Ma'am,
How to tackle this issue ?

[2020-10-19 11:31] adelkahomolova commented on #419
Hi, @shobhi1310 , this is not an issue but expected behavior. There are commands you have to use as the help tells you. The command you have to run is `yarn start run` to run the dx-scanner.

[2020-10-19 11:38] shobhi1310 commented on #419
Thank you, ma'am, it runs perfectly now!

Which linter is to be used for C++?

[2020-10-19 11:40] adelkahomolova commented on #419
I'm not a C++ developer and choosing the right linter is the part of the task. So you'll have to find it out on your own. Sorry. @shobhi1310

[2020-10-19 12:03] shobhi1310 commented on #419
![image](https://user-images.githubusercontent.com/42507632/96448245-b50a1880-1230-11eb-8381-86f34637ebb8.png)

https://github.com/caramelomartins/awesome-linters

I got reference of some widely used C++ linters out of which as per the organization's flavour [cppcheck](http://cppcheck.sourceforge.net/) serves the purpose well enough.

[2020-10-19 14:25] K-Kumar-01 commented on #407
hello @prokopsimek  Could you tell me a more about this issue. Any suitable links for this  which can help me get the insight.

[2020-10-19 14:28] adelkahomolova commented on #407
Hi, @K-Kumar-01 . There exists the same practice for JavaScript. Check [JsGitignoreCorrectlySetPractice](https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/JavaScript/JsGitignoreCorrectlySetPractice.ts).
It should be almost the same, just with specifications for GO lang. It should check if the programmer has his `.gitignore` in the GO lang project set correctly.
Is it clearer now? :)

[2020-10-19 14:30] K-Kumar-01 commented on #407
Thanks @adelkahomolova  for the explanation. I will see to the link and let you know about this as soon as possible

[2020-10-19 14:48] adelkahomolova commented on #419
There are not only linters, but also some tools for making the code prettier. As I google it, I think you should check these three linters - cppcheck, oclint and clang-tidy. You can get the inspiration from [GoLinterUsedPractice](https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/Go/GoLinterUsedPractice.ts) to how to check if there is at least one of them. @shobhi1310

[2020-10-19 16:34] king-11 commented on #408
@DominikMilaniak although I am working on another issue that one is taking a bit of time I can get this done quickly as I have already done one similar if you can assign this to me

[2020-10-19 17:17] adelkahomolova commented on #408
Sure. Thanks @king-11 . I'm really glad that you enjoy contributing to our repository! You're awesome!

[2020-10-19 17:21] king-11 commented on #396
@adelkahomolova I guess the arguments for readFile are a bit different :no_mouth: and basically the issue I am having is that readme can be name as :
- README.md
- readme.md
- Readme.md
so how shall I deal with this because in [GitignoreIsPresentPractice](https://github.com/DXHeroes/dx-scanner/blob/master/src/practices/LanguageIndependent/GitignoreIsPresentPractice.ts) we are using regex search bu

[2020-10-19 18:40] #408 closed

[2020-10-19 18:50] adelkahomolova commented on #396
You can use [lowerCase method](https://lodash.com/docs/4.17.15#lowerCase) from lodash, so it will unify the string and all the three variants will be the same. After that, you can work with that as you want. Did I answer your question? @king-11 :)

[2020-10-19 18:54] adelkahomolova commented on #396
Sorry, I see the problem now 🙈 . But I don't think the method is case-sensitive. Have you tried it? @king-11

[2020-10-19 18:58] prokopsimek commented on #408
:tada: This issue has been resolved in version 3.44.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.44.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.44.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-19 19:27] K-Kumar-01 commented on #407
Hello @adelkahomolova
I do not know much about Go and used (this link) [https://github.com/github/gitignore/blob/master/Go.gitignore] for creating the file.
I made the dollowing changes in code
[code]
I was not able to understand this part so i didnt change it.
[code]
could you please tell me if my changes were correct and what i had to do in the fixes one.

[2020-10-19 21:16] king-11 commented on #396
Moved through a lot of functions and at the end it's using ```fs.readFile()``` which doesn't seem to be case-insensitive as per the documentation, case-sensitivity for node seems to depend on the system we are using as per this [Link](https://nodejs.org/en/docs/guides/working-with-different-filesystems/#unicode-form-preservation)

[2020-10-20 10:00] shobhi1310 commented on #419
![image](https://user-images.githubusercontent.com/42507632/96571316-083fa200-12e9-11eb-98f6-40b931b6438d.png)

In the GoLinterUsedPractice spec file, why has typescript been put for 'If it is not Go' and what should I put for 'If it is not C++' ?

[2020-10-20 10:32] shobhi1310 commented on #419
Also, If I need to test it, should I run `yarn start run` or build using `yarn build` and then test using `yarn test`?

[2020-10-20 12:28] adelkahomolova commented on #419
It's because this is a test for the case if it's not Go language. So the different language is pasted to the test, so it's testing the method `isApplicable()` returns false in that case. You can use any of those languages that are not Go. E.g. Typescript.
To run tests, run the command `yarn test`. You can also specify the path to the test so only tests that you added are running. E.g. `yarn test G

[2020-10-21 07:16] shobhi1310 commented on #419
![image](https://user-images.githubusercontent.com/42507632/96685701-1fd76300-139b-11eb-8d2b-8d5c9aee391d.png)

Ma'am, I got this after running a test on `CPPLinterUsedPractise.spec.ts`. It has passed the verification tests, but why is the 19.08s showing red colour?

[2020-10-21 07:16] shobhi1310 commented on #419
I will also make a PR today , do once review my code.

[2020-10-21 09:35] adelkahomolova commented on #419
It's just the information about the time the tests are running. No worries :)
Since there is no Component Detector for C++ yet, you don't have to add the practice to Readme. @shobhi1310

[2020-10-21 10:12] adelkahomolova commented on #410
Hi, @abdulzeedo , how is it going? Is there any progress? Do you need some help? :)

[2020-10-21 10:19] adelkahomolova commented on #420
Hi, @ramesht007 are you working on this issue?

[2020-10-21 10:20] adelkahomolova commented on #398
Hi, @ronaudinho I just wanted to ask if there is any progress or if you need any help?

[2020-10-21 10:22] adelkahomolova commented on #397
Solves #462

[2020-10-21 10:23] adelkahomolova commented on #416
Hi, @avats-dev it's quite a long time since our last contact. Is there any progress?

[2020-10-21 10:24] adelkahomolova commented on #412
Hi, @avats-dev it's quite a long time since our last contact. Are you working on this issue?

[2020-10-21 10:29] vypxl commented on #76
I would like to work on this. Could someone explain to me what 'hidden secrets' is about?

[2020-10-21 10:52] ramesht007 commented on #420
sorry, @adelkahomolova I will not be able to this
Thanks for waiting
But I am very busy with some other stuff.

[2020-10-21 11:07] vypxl commented on #76
Also, if all debugs are enabled, a scan of this repo results in a 24 megabyte logfile, is that the goal?

[2020-10-21 11:43] vypxl commented on #76
Another question: Should other commands such as init and practices also be logged?

[2020-10-21 12:19] adelkahomolova commented on #420
Ok, thanks for the message.

[2020-10-21 13:04] adelkahomolova commented on #407
Hi, @K-Kumar-01 , the source should be fine I guess.
The `fix()` method is used for automated fix. So if it doesn't find regex `node_modules` it adds the string `/node_modules` in users' `.gitignore`. Same with `/coverage` and `*-log`. You should do the same for Go. So if there is no `exe$`, you should add it to the `.gitignore` - means it should be in the `const fixes = []`

Also your regexes sho

[2020-10-21 13:16] adelkahomolova commented on #76
Hi, @vypxl , thank you for your interest in contributing to our repository!
To your questions:
1) Hidden secrets mean, that if you paste for example your access token to the GitHub (which is needed by dx-scanner if you scan the private repository), this secret should not be shown in the log file, so if user has some error and want to send to someone he won't send it with his secrets.
2) All the in

[2020-10-22 05:12] K-Kumar-01 commented on #407
@adelkahomolova  Yes i had many doubts cleared. I will send the code once again when i have made the changes. Thanks for the clarfiication.

[2020-10-22 05:22] K-Kumar-01 commented on #407
@adelkahomolova
[code]

So i made these. There is only one thing here that if in the regex only one file is also present then all others won't be included int the fix. So should i change the regex or will this work?

[2020-10-22 09:33] vypxl commented on #76
Yes, thanks. I assume my third question is answered with a yes?

[2020-10-22 12:18] king-11 commented on #396
![Screenshot_20201022_173748](https://user-images.githubusercontent.com/52061363/96869622-59889680-148d-11eb-8527-c77b29192e52.png)

@adelkahomolova I wrote this but it doesn't seem to be working so I guess will have to use scanFor but in that shall I select the first file that is returned in the array for checking if correctly set or not?

[2020-10-22 12:25] king-11 commented on #396
I was thinking something like this to get file contents
[code]

[2020-10-22 13:05] adelkahomolova commented on #407
Sorry, I missed that problem earlier. You shouldn't check the ignored files in one regex as you do in `binaryFilesRegex`. You should check every file separately, so you can fix only the ones the user doesn't ignore. @K-Kumar-01

[2020-10-22 13:21] adelkahomolova commented on #76
It should be logged, if it's logged in `debug` mode @vypxl :)

[2020-10-22 13:22] K-Kumar-01 commented on #407
@adelkahomolova
I edited the regex files. The PR was made. Please let me if it requires any fixes.

[2020-10-22 13:37] adelkahomolova commented on #396
Ok, use the `scanFor()`. Thank you, that you've tried it ❤️ , you were right. :)
It seems fine to me. :)  @king-11

[2020-10-22 13:44] K-Kumar-01 commented on #407
@adelkahomolova
All the changes that you requested were made in the latest [PR](https://github.com/DXHeroes/dx-scanner/pull/468).
Let me know if any changes are required.

[2020-10-22 18:36] king-11 commented on #420
@adelkahomolova I can work on this issue

[2020-10-22 19:59] adelkahomolova commented on #420
@king-11 Sure! Go for it :)

[2020-10-23 08:55] shobhi1310 commented on #419
![image](https://user-images.githubusercontent.com/42507632/96978092-9dd27000-153b-11eb-8760-24ae9af5753e.png)

Why did these 2 tests fail in Travis ?

[2020-10-23 15:48] adelkahomolova commented on #419
It's just exceeded the Github Rate limit. Nothing to worry about. @shobhi1310

[2020-10-23 16:28] shobhi1310 commented on #419
@adelkahomolova
Ma'am the purpose of checking practices in C/C++ would not be the same as that of in Go, Typescript, etc. mainly because of package managers not available in C/C++. 🤔

In that case would my PR not be merged? 🙄

[2020-10-24 12:05] vypxl commented on #76
Ok, [This](https://pastebin.com/kxP4U4sv) is what I got so far, when scanning this repo with my `-l` flag: `dx-scanner -l run`.
Is this everything that is needed?

I also have one problem: Any Ideas on how to close the logfile to flush? When registering a `beforeExit` handler, the logfile is missing some content, if the process gets terminated by `process.exit(code)`. And because flushing the file

[2020-10-24 16:12] adelkahomolova commented on #419
@shobhi1310 I have to discuss it with my colleagues.

[2020-10-26 06:30] prokopsimek commented on #76
@vypxl Hi, may you show us your code, please? I haven't found a linked PR to this issue.

I guess there exists any command for loggers to flush all remaining context before exit but I am not sure how you implemented this functionality.

Thanks 👍

[2020-10-26 10:11] #396 closed

[2020-10-26 14:45] prokopsimek commented on #396
:tada: This issue has been resolved in version 3.45.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.45.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.45.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-27 18:23] abdulzeedo commented on #410
@adelkahomolova sorry, I got a little overwhelmed by coursework. Is this issue part of an epic, as in is there a deadline?

[2020-10-27 20:26] adelkahomolova commented on #410
@abdulzeedo no worries, it's a separate task. There is no deadline. I just wanted to know, if you're working on it or plan to work on it :)

[2020-10-29 10:58] K-Kumar-01 commented on #411
@adelkahomolova
The last conversation seems a few weeks back.
If the issue is still open, can i work on it?

[2020-10-29 11:00] adelkahomolova commented on #411
I think, that you can. It's yours, @K-Kumar-01

[2020-10-30 04:05] K-Kumar-01 commented on #411
@adelkahomolova
I have made the PR. Let  me know if there are any changes required.

[2020-10-31 04:22] king-11 commented on #398
@adelkahomolova I can work on this issue if @ronaudinho isn't able to

[2020-10-31 06:33] ronaudinho commented on #398
sorry for the delay in response, I've found out that for github, [this API](https://docs.github.com/en/free-pro-team@latest/rest/reference/repos#list-repository-languages) might be a lot simpler to implement, wdyt @adelkahomolova ?

for gitlab and bitbucket, I have not come across similar API, might be necessary to pull the repo to a temp dir and use `cloc`, similar as to how we would use `cloc` f

[2020-10-31 18:13] adelkahomolova commented on #398
That's great, that for GH it would be a lot simpler as we can use the API. Nice catch, @ronaudinho ! DX scanner is always pulling the repository (if it's not scanning locally). Since there exists a solution for GitLab and Bitbucket (using cloc), I would be really glad if it would be implemented. Or maybe @king-11 will find the right endpoint for that. Also, we started to rewrite the GH service int

[2020-11-05 14:19] #420 closed

[2020-11-05 15:42] prokopsimek commented on #420
:tada: This issue has been resolved in version 3.46.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.46.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.46.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-18 07:21] prokopsimek opened #483 "[BUG] Local scanning should not fail if not detected git service"
## Expected Behavior

- local scanning works without the necessary information about VSC service

## Current Behavior

- it fails on self-hosted bitbucket service

[code]

## Possible Solution

Scan local path and do not fail if not recognized remote VSC service. Just scan and let practices fail.

[2020-11-19 10:00] prokopsimek opened #486 "[BUG] Github Action DX Scanner does not work"
## Expected Behavior

The Github Action scans the repository.

## Current Behavior

See https://github.com/michal-simon/soundary/runs/1423061801?check_suite_focus=true

[2020-11-19 14:13] vlasy commented on #486
One of the problems seems to be [this file](https://github.com/DXHeroes/dx-scanner/blob/master/src/services/__MOCKS__/mockFolder/mockFileSLbroken.ln) which causes the action to fail straight away during the initial download.

Not sure what is the correct solution.
- Deleting the file would brake the tests
- Creating `notExistingMockFile` and deleting it before the tests would require re-creating i

[2020-12-04 13:15] #483 closed

[2020-12-07 07:18] prokopsimek commented on #483
:tada: This issue has been resolved in version 3.46.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.46.3)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.46.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-09 13:19] prokopsimek commented on #410
Duplicate of #411

[2020-12-09 13:19] #410 closed

[2020-12-09 13:19] prokopsimek opened #492 "New Practice: Gitignore practice for C#"
## New Practice Proposal

Create a new practice that checks correctly set .gitignore for C#.

[2020-12-09 13:24] prokopsimek commented on #397
Done

[2020-12-09 13:24] #397 closed

[2020-12-09 14:22] #68 closed

[2020-12-09 19:30] prokopsimek commented on #68
:tada: This issue has been resolved in version 3.47.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.47.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.47.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-14 11:08] #405 closed

[2020-12-14 14:31] prokopsimek commented on #405
:tada: This issue has been resolved in version 3.48.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.48.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.48.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-11 14:28] #76 closed

[2021-01-11 14:48] prokopsimek commented on #76
:tada: This issue has been resolved in version 3.49.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.49.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.49.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-21 15:07] #56 closed

[2021-03-25 14:44] kravchenkoa opened #530 "[BUG] Mocking Frameworks for Tests not registered - Mockito Java"
On a project using Mockito DX Scanner still recommends using a Mocking Framework to improve the score.

[2021-05-13 11:51] vlasy opened #538 "Support for Bower"
## New Feature Proposal

Add support for detecting components based on Bower package manager - https://bower.io/

[2021-05-13 11:52] vlasy opened #539 "Support for Lerna"
## New Feature Proposal

Add support for detecting multiple packages based on Lerna - https://github.com/lerna/lerna

[2021-05-27 10:25] #538 closed

[2021-05-27 10:36] prokopsimek commented on #538
:tada: This issue has been resolved in version 3.56.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/dx-scanner/v/3.56.0)
- [GitHub release](https://github.com/DXHeroes/dx-scanner/releases/tag/v3.56.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-27 13:07] vlasy commented on #539
Tested on a few Lerna repositories and works out of the box

[2021-05-27 13:07] #539 closed

[2021-10-19 02:40] renovate opened #562 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/DXHeroes/dx-scanner).

These dependencies are deprecated:

| Datasource | Name | Replacement PR? |
|------------|------|--------------|
| npm | `@ty